
*{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 0;
}
li{
    display: flex;
    align-items: center;
    list-style: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 86px;
    font-size: 24px;
    background: #69A1Ac;
}
.logo{
    justify-content: flex-start;
}
.logo li{
    font-family: 'Lobster', cursive;
    font-size: 48px;
    color: #eee;
    justify-content: flex-start;
}

nav ul{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

a{
    list-style: none;
    text-decoration: none;
    color: #eee;
}
.header button{
    background: #FFD25A;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
}
section{
    height: 600px;

}
footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #B7DCE0;
    height: 108px;
    padding-right: 3%;
}

footer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}
footer a {
    color: #000;
}